@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .animate-shimmer {
    animation: shimmer 2s infinite;
  }
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .glass-card {
    @apply bg-slate-900/40 backdrop-blur-xl border border-white/10;
  }
}
